/* About.css */

/* Section background and padding */
.about-section {
  background-color: #121121;
  padding-bottom: 3rem;
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .about-section {
      padding-top: 8rem;
  }
}

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .about-container {
      grid-template-columns: 1fr 1fr;
  }
}

.about-text h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #55e6a5;
  margin-bottom: 1rem;
}

.about-text h2 {
  font-size: 25px;
  font-weight: bold;
  line-height: 2rem;
  text-transform: capitalize;
  color: white;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .about-text h2 {
      font-size: 45px;
      line-height: 3rem;
  }
}

.about-text h2 span {
  color: #fbbf24;
}

.separator {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.separator .line {
  display: none;
  width: 100px;
  height: 5px;
  background-color: #94a3b8; /* Slate color */
  border-radius: 2px;
}

@media (min-width: 768px) {
  .separator .line {
      display: block;
  }
}

.separator p {
  font-size: 19px;
  color: #cbd5e1; /* Slate color */
  width: 80%;
}

/* About Image Section */
.about-image {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 2rem auto 0;
}

@media (min-width: 1024px) {
  .about-image {
      width: 500px;
      height: 500px;
      margin-top: 0;
  }
}

.about-image .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 11;
}

.about-image .image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #55e6a5;
  top: -2rem;
  right: -2rem;
  z-index: 10;
}
