/* Nav.css */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 12vh;
  background-color: #141c27;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.navbar-logo {
  flex: 0.6;
  cursor: pointer;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.navbar-logo span {
  color: #fbbf24; /* Yellow Color */
}

.navbar-links {
  display: none;
  gap: 1.5rem;
}

.navbar-link {
  color: white;
  cursor: pointer;
  padding-bottom: 4px;
  transition: border-bottom 0.3s;
}

.navbar-link:hover {
  border-bottom: 2px solid #fbbf24; /* Yellow on hover */
}

.navbar-toggle {
  cursor: pointer;
}

.navbar-toggle-icon {
  width: 2rem;
  height: 2rem;
  color: #fbbf24;
}

@media (min-width: 768px) {
  .navbar-links {
      display: flex;
  }
}
